.root {
	-fx-padding: 0px 10px 0px 10px;
	-fx-spacing: 10px;
	-fx-background-image:url(default-wallpaper.png)
}

.hbox {
	-fx-padding: 10px 0px 10px 0px;
	-fx-spacing: 10px;
	-fx-background-color: transparent;
}

.vbox{
		-fx-background-color: transparent;
	
}
.hbox.vbox{
	
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.hbox.scroll-pane{
		-fx-background-color: transparent;
}

.hbox.scroll-pane .viewport{
    -fx-background-color: transparent;
}


.hbox .scroll-pane .content{
    -fx-background-color: transparent;
    
    }
.button{
    -fx-font:  italic 10pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-border-radius: 50;
    -fx-background-radius: 20;
	
}

.label{
	-fx-font: italic 10pt "Arial";
}

.text-area {
    -fx-background-color: transparent;
    -fx-font-size: 25;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

	
