

 .root {
-fx-background-image: url("Poker.jpg");
-fx-background-size: 900px 400px;
}
.button {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-border-color: #000000;
  -fx-border-width: 0px;
  -fx-border-style: solid;
  -fx-min-width: 100;
  -fx-min-height: 60;
  -fx-pref-width: 100;
  -fx-pref-height: 60;
  -fx-background-radius: 15;
  -fx-background-color: wheat;

   
}
.label{
 -fx-font-size: 20px;
	-fx-min-width: 260;
  -fx-min-height: 60;
  -fx-pref-width: 260;
  -fx-pref-height: 60;
  -fx-text-fill: darkgray;
}



